<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustStreamIt</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body id="wallPaper">
<div class="top_headband">

    <div class="logo_area">
        <div class="logo"></div>
    </div>

    <nav class="menu_area">
        <a href="" class="menu_button" title="Accueil">Accueil</a>
        <a href="" class="menu_button" title="Séries">Séries</a>
        <a href="" class="menu_button" title="Films">Films</a>
        <a href="" class="menu_button" title="Ajouts récents">Ajouts récents</a>
        <a href="" class="menu_button" title="Ma liste">Ma liste</a>
    </nav>
    <fieldset>
        <legend>Moteur de recherche</legend>
        <div class="search_area">
            <label for="search_movie">Rechercher</label>
            <input type="search" name="search_movie" maxlength="50" class="search_rectangle" required id="search_movie">
            <button type="submit">
                <svg class="search_icon">
                    <use href=""></use>
                </svg>
            </button>
        </div>
    </fieldset>

    <div class="notification_area">
        <a href="" class="notification" title="Notification">
            <svg class="notification"></svg>
        </a>
    </div>
    <div class="profile_area">
        <a href="" class="profile" title="Profile">
            <svg class="profile"></svg>
        </a>
    </div>

</div>
<div class="overlay hidden"></div>
<div id="myModal" class="modal"></div>

<div id="movieNumber1Area"></div>


<div class="movie_category1_area">
    <div class="carousel">
        <div id="moviesDetails1"></div>
    </div>
    <button class="prev">
        <svg class="button_prev"></svg>
    </button>
    <button class="next">
        <svg class="button_next"></svg>
    </button>
</div>


<div class="movie_category2_area">
    <div class="carousel">
        <div id="moviesDetails2"></div>
    </div>
    <button class="prev">
        <svg class="button_prev"></svg>
    </button>
    <button class="next">
        <svg class="button_next"></svg>
    </button>
</div>

<div class="movie_category3_area">
    <div class="carousel">
        <div id="moviesDetails3"></div>
    </div>
    <button class="prev">
        <svg class="button_prev"></svg>
    </button>
    <button class="next">
        <svg class="button_next"></svg>
    </button>
</div>

<div class="movie_category4_area">
    <div class="carousel">
        <div id="moviesDetails4"></div>
    </div>
    <button class="prev">
        <svg class="button_prev"></svg>
    </button>
    <button class="next">
        <svg class="button_next"></svg>
    </button>
</div>

</body>
</html>
