<!DOCTYPE HTML>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustStreamIt</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body id="wallPaper">
<div class="top_headband">

    <div class="logo_area">
        <div class="logo"></div>
    </div>

    <nav class="menu_area">
        <a href="" class="menu_button" title="Accueil">Accueil</a>
        <a href="" class="menu_button" title="Séries">Séries</a>
        <a href="" class="menu_button" title="Films">Films</a>
        <a href="" class="menu_button" title="Ajouts récents">Ajouts récents</a>
        <a href="" class="menu_button" title="Ma liste">Ma liste</a>
    </nav>
    <fieldset>
        <legend>Moteur de recherche</legend>
        <div class="search_area">
            <label for="search_movie">Rechercher</label>
            <input type="search" name="search_movie" maxlength="50" class="search_rectangle" required id="search_movie">
            <button type="submit">
                <svg class="search_icon">
                    <use href=""></use>
                </svg>
            </button>
        </div>
    </fieldset>


    <div class="notification_area">
        <a href="" class="notification" title="Notification">
            <svg class="notification"></svg>
        </a>
    </div>
    <div class="profile_area">
        <a href="" class="profile" title="Profile">
            <svg class="profile"></svg>
        </a>
    </div>



</div>




</body>
</html>
