/* Fond d'écran
class = .logo
id = #wallPaper
code couleur du logo = #082BF1
code couleur du fond d'écran = #000000
border: 2px solid #FFFFFF;
input[type="search" i]::-webkit-color-swatch {
    border-style: none !important;
}
*/

#wallPaper{
    background-image: url("dark_wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

label,
legend{
    display: none;
}

.top_headband{
    display: flex;
    align-items: center;

}

/* Zone du logo */
.logo_area{
    width: 154px;
    height: 97px;
    margin-right: 100px;
/*    border: 2px solid #FFFFFF; */

}

.logo{
    width: 154px;
    height: 97px;
    background-image: url("newlogo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Zone de recherche */
fieldset{
    border: 1px transparent;
    height: 97px;
   /* border: 2px solid #FFFFFF;*/
    padding-bottom: 0px;
    padding-top: 0px;
}
.search_area{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 2px solid #FFFFFF;
    margin-top: 47px;

}

.search_icon{
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("loupe.png");
    cursor: pointer;
}

button[type="submit"] {
    background: none;
    border: 1px transparent;
}

.search_rectangle{
    width: 300px;
    height: 40px;
    display: flex;
    border: 0.5px solid #FFFFFF;
    background: #000000;
    margin-right: -1px;
    color: #FFFFFF;
}

/* Zone notification */
.notification_area{
    width: 200px;
    height: 97px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /*border: 2px solid #FFFFFF;*/
}

.notification{
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("new_cloche_notification.png");
    margin-right: 20px;
    margin-bottom: 3px;

}

/* Zone profil */
.profile_area{
    width: 200px;
    height: 97px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.profile{
    width: 70px;
    height: 70px;
    margin-right: 50px;
    background-image: url("newprofil.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 3px;
}

/* Zone du menu */
.menu_area{
    width: 1200px;
    height: 97px;
    display: flex;
    align-items: flex-end;
    /*border: 2px solid #FFFFFF;*/
}
.menu_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 40px;
    margin-bottom: 3px;
    text-decoration: none;
}

/* Zone meilleur film*/
#movieNumber1Area{
/*    position: relative; */
    display: flex;
    justify-content: center;
}

.rectangle1 {
    height: 920px;

}

.single_image {
    width: 1500px;
    height: auto;
    background-size: 100% 100%;

}

.movie_title {
    position: relative;
    bottom: 660px;
    margin-top: auto;
    margin-left: 25px;
    font-size: 50px;
    color: #FFFFFF;
}


.description {
    position: relative;
    bottom: 690px;
    width: 500px;
    height: auto;
    margin-left: 25px;
    margin-top: auto;
    font-size: 25px;
    color: #FFFFFF;
}

/* Titre de la page Meilleur film */
.page_title {
    display: flex;
    font-size: 30px;
    color: #082BF1;
    margin-bottom: 0px;
}

/* Liste de film catégorie2*/
.movie_category1_area,
.movie_category2_area,
.movie_category3_area,
.movie_category4_area {
    display: flex;
    align-items: center;
}

.category1,
.category2,
.category3,
.category4 {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

#moviesDetails1,
#moviesDetails2,
#moviesDetails3,
#moviesDetails4 {
    display: flex;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;

}

#buttonAreaLeft {
    display: flex;
    width: 35px;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: 1px transparent;
}

#buttonAreaRight {
    display: flex;
    width: 35px;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: 1px transparent;

}

.button_left {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-image: url("nav_button.png");

}

.button_right {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("nav_button.png");

}

/*  Zone boite de dialogue */

.modal {
    position: absolute;
    z-index: 5;
    width: 1370px;
    left: 10%
}

.movie_title2 {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    font-size: 50px;
    color: #FFFFFF;
}

.description2 {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 10px;
    margin-top: auto;
    font-size: 25px;
    color: #FFFFFF;
}
.modal-content {
    position: absolute;
    border: 1px solid #FFFFFF;
    display: flex;
    background-color: transparent;
    margin: auto;
    padding: 4px;
    border-radius: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    right: 5px;
    margin-top: 10px;
    margin-right: 5px;
    max-width: 80%;
}

.worldwide_gross_income,
.usa_gross_income,
.countries,
.actors,
.directors,
.genres,
.rated,
.date_published,
.duration,
.imdb_score {
    display: flex;
    margin-left: 10px;
    margin: auto;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 25px;
    color: #FFFFFF;
}

.close {
    z-index: 1;
    color: #FFFFFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}

.modal-content:hover{
    border: 1px solid #082BF1;

}

.close:hover {
  color: #082BF1;
}

.container1 {
    position: relative;
    background-color: #000000;
    display: grid;
    grid-template-areas: "R1 R2";
    border: 2px solid #FFFFFF;
}

.R1,
.R2,
.R3,
.R4,
.R5N1,
.R5N2,
.R6,
.R7 {
    width: auto;
    height: auto;
}

.single_image2 {
    width: auto;
    height: 500px;
    background-size: 100% 100%;
}

.R2 {
    display: grid;
    grid-template-areas:
    "R3"
    "R4"
    "R5"
    "R6"
    "R7";
}

.R5N1 {
    display: grid;
    grid-template-areas:
    "imdb_score duration date_published";

}

.R5N2 {
    display: grid;
    grid-template-areas:
    "rated genre";
}

/* Bouton plus d'informations */
.moreInformation {
    cursor: pointer;
    bottom: 650px;
    padding: 15px;
    border-radius: 40px;
    left: 25px;
    margin-right: 20px;
    position: relative;
    font-size: 25px;
    background-color: #FFFFFF;


}

/* Bouton Play */
.playMovie {
    cursor: pointer;
    bottom: 650px;
    padding: 15px;
    border-radius: 40px;
    left: 25px;
    position: relative;
    font-size: 25px;
    background-color: #FFFFFF;

}

.playMovie:hover,
.moreInformation:hover {
    border: 1px solid #082BF1;
    background-color: #082BF1;
}

.hidden {
display: none;
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 265%;
background-color: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(0.8px);
z-index: 5;
}