/* Fond d'écran
class = .logo
id = #wallPaper
code couleur du logo = #082BF1
code couleur du fond d'écran = #000000

input[type="search" i]::-webkit-color-swatch {
    border-style: none !important;
}
*/

#wallPaper{
    background-image: url("dark_wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

label,
legend{
    display: none;
}

.top_headband{
    display: flex;
    align-items: center;

}

/* Zone du logo */
.logo_area{
    width: 154px;
    height: 97px;
    margin-right: 100px;
/*    border: 2px solid #FFFFFF; */

}

.logo{
    width: 154px;
    height: 97px;
    background-image: url("newlogo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Zone de recherche */
fieldset{
    border: 1px transparent;
    height: 97px;
   /* border: 2px solid #FFFFFF;*/
    padding-bottom: 0px;
    padding-top: 0px;
}
.search_area{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 2px solid #FFFFFF;
    margin-top: 47px;

}

.search_icon{
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("loupe.png");
    cursor: pointer;
}

button[type="submit"] {
    background: none;
    border: 1px transparent;
}

.search_rectangle{
    width: 300px;
    height: 40px;
    display: flex;
    border: 0.5px solid #FFFFFF;
    background: #000000;
    margin-right: -1px;
    color: #FFFFFF;
}

/* Zone notification */
.notification_area{
    width: 200px;
    height: 97px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /*border: 2px solid #FFFFFF;*/
}

.notification{
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("new_cloche_notification.png");
    margin-right: 20px;
    margin-bottom: 3px;

}

/* Zone profil */
.profile_area{
    width: 200px;
    height: 97px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.profile{
    width: 70px;
    height: 70px;
    margin-right: 50px;
    background-image: url("newprofil.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 3px;
}

/* Zone du menu */

.menu_area{
    width: 1200px;
    height: 97px;
    display: flex;
    align-items: flex-end;
    /*border: 2px solid #FFFFFF;*/
}
.menu_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 40px;
    margin-bottom: 3px;
    text-decoration: none;
}

